.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 50px;
}

.screen-header__title {
  font-size: 24px;
  font-weight: 500;
}

.screen-header__icons span {
  padding-left: 20px;
  position: relative;
}
